.para1{
    color:red;
    text-decoration: 
}
.para2{
    color:red;
}
.para3{
    color:brown;
}
.para4{
    text-decoration: line-through;
}
.para5{
    background-color: yellow;
}
.para6{
    color:red;
}
.para9{
    text-decoration: underline;
}
.para7{
    text-decoration: none;
}
.para8{
    letter-spacing: 5px;
}
.color11{
    color:firebrick;
}
.clr22{
    color:brown;
}
